<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Tous les postes</h1>
    <div>
        {% for poste in postes %}
            <div>
                <h2>{{poste.title}}</h2>
                <p>{{poste.description}}</p>
                <img src="{{poste.picture.url}}" alt="Image de {{poste.title}}">
                <p>Posté par : {{poste.user_poste.username}}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>